body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

.layout {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.sidebar .logo {
  font-size: 22px;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px;
  border-radius: 6px;
  transition: background 0.3s;
}

.sidebar nav a:hover {
  background: #333;
}

.sidebar .footer {
  font-size: 12px;
}

.social-links a {
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
}

/* Conteúdo principal */
.content {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  overflow-y: auto;
}

/* Cards */
.inicio {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 50%;       /* ocupa toda a largura do card */
  height: 200px;     /* altura fixa para todas */
  object-fit: cover; /* corta e ajusta sem distorcer */
  border-radius: 12px;
  margin-bottom: 15px;
  
}

.card h2 {
  margin: 15px 0 10px;
  font-size: 1.2rem;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background: #000;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #444;
}