body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}


.layout {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.sidebar .logo {
  font-size: 22px;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px;
  border-radius: 6px;
  transition: background 0.3s;
}

.sidebar nav a:hover {
  background: #333;
}

.sidebar .footer {
  font-size: 12px;
}

.social-links a {
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
}

/* Conteúdo principal */
.content {
  flex: 1;
  padding: 20px;
}

.projetos-cards {
  display: flex;
  flex-wrap: wrap; /* Permite que os ícones passem para a linha seguinte se a tela for pequena */
  gap: 20px; /* Espaçamento entre os ícones */
  justify-content: center; /* Centraliza os ícones na página */
}

.projetos-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px; /* Define o tamanho do card */
  text-align: center;
  background-color: #929090; /* Ajuste conforme seu design */
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.projetos-cards .card .icon {
  width: 60px;   /* Tamanho pequeno do ícone */
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.projetos-cards .card .icon:hover {
  transform: scale(1.1);
}
img {
  max-width: 100%;
  height: auto;
}