body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}


.layout {
  display: flex;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.sidebar .logo {
  font-size: 22px;
  margin-bottom: 30px;
}

/* Ícones do menu lateral */
.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 10px; /* espaço entre o ícone e o texto */
  color: #f7f7f7;
  text-decoration: none;
  padding: 8px 0;
  transition: color 0.3s ease;
}

.sidebar nav a i {
  font-size: 20px; /* tamanho do ícone */
}

footer h2 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}


.sidebar nav a:hover {
  color: #ffcc00; /* muda a cor ao passar o mouse */
}

.sidebar .footer {
  font-size: 12px;
}


/* Ícones das redes sociais */
.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: #222;
  border-radius: 50%;
  color: #f7f7f7;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
  background-color: #ffcc00;
  color: #111;
}

/* Conteúdo principal */
.content {
  flex: 1;
  padding: 20px;
}

.projetos-cards {
  display: flex;
  flex-wrap: wrap; /* Permite que os ícones passem para a linha seguinte se a tela for pequena */
  gap: 20px; /* Espaçamento entre os ícones */
  justify-content: center; /* Centraliza os ícones na página */
}

.projetos-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px; /* Define o tamanho do card */
  text-align: center;
  background-color: #929090; /* Ajuste conforme seu design */
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.projetos-cards .card .icon {
  width: 60px;   /* Tamanho pequeno do ícone */
  height: 60px;
  object-fit: contain;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.projetos-cards .card .icon:hover {
  transform: scale(1.1);
}
img {
  max-width: 100%;
  height: auto;
}
article {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}
h1, h2, h3 {
  color: #080808;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
section h1 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #110e0e;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}
p {
  line-height: 1.6;
  color: #555;
}
a {
  color: #0066cc;
  text-decoration: none;
}